<div class="navbar navbar-main" role="navigation">
    <div class="container">
        <div class="navbar-body">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul id="menu-menu-1" class="nav navbar-nav">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-86 active">
                        <a href='{{ "/" | prepend:  site.baseurl }}'>Welcome</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80">
                        <a href='{{ "/wedding-details/" | prepend: site.baseurl }}'>Wedding Details</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80">
                        <a href='{{ "/wedding-party/" | prepend: site.baseurl }}'>Wedding Party</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80">
                        <a href='{{ "/accommodations/" | prepend: site.baseurl }}'>Accommodations</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80">
                        <a href='{{ "/registry/" | prepend: site.baseurl }}'>Registry</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="banner">
    <img src='{{ "/assets/img/wedding31.jpg" | prepend: site.baseurl }}' class="img-responsive" alt=""/>

    <div class="banner_line"></div>
    <div id="badge_wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="fp_constrain_l">
                        <div class="circle-text">
                            <div>
                                <span class="badge_small badge_one">Lindsay &amp; John</span>
                                <br/>
                                <img src='{{ "/assets/img/heart_line.png" | prepend: site.baseurl }}' class="img-responsive heart_line" alt=""/>
                                <br/>
                                <span class="badge_large badge_two">{{ site.data.wedding.date }}</span>
                                <br/>
                                <img src='{{ "/assets/img/heart_line.png" | prepend: site.baseurl }}' class="img-responsive heart_line" alt=""/>
                                <br/>
                                <span class="badge_small badge_three">San Diego, CA</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
