<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

{{ content }}

{% include footer.html %}

</body>

<script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '54c840f5e32bb40529000507');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
    })();
</script>

</html>
